extends layout

block content
  h1= title
  p Welcome to pug assignment
  
  
  input(type ="button", class="btn btn-primary btn-sm" onclick='update()' value = "Press Me")
  div#target Display
  - var url  = 'text';
  a(href='/' + url) text

  script.
    var client_count = 0
    function update(){
      client_count++;
      console.log(client_count)
      document.getElementById("target").innerHTML = "Value now " +client_count;
    }
  